body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p1 {
  font-family: Georgia;
  margin: 10px;
  font-size: large;
}

nav {
  font-family: Georgia;
  font-size:x-large;
}

h1 {
  font-family: Georgia;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
